$color-title-blue: #002D74;
$color-title-orange: #FF9800;
$color-title-gray: #555;
$color-title-white: #FFF;
$color-bg-white: #FFF;
$color-bg-orange: #FF6200;
$color-bg-card: #FFFFFFCC;
$color-bg-background: #F4F4F4;