<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="layout">

  <div class="main-content">
    <header class="topo">
      <h1>Dashboard</h1>
    </header>

    <div *ngIf="carregando" class="loading">
      <p>Carregando dados...</p>
    </div>

    <div class="info-content">

      <div class="tabela-container">
        <h3>
          <p>Registros Mensais</p>
          <div class="resumos-container">
            <div class="caixa">
              <div class="resumo-item entrada">
                <p>Entrada</p>
                <div class="content">
                  <span class="material-icons icon entrada-icon">arrow_upward</span>
                  <strong>{{ entradaTotal | currency:'BRL' }}</strong>
                </div>
              </div>

              <div class="resumo-item saida">
                <p>Saída</p>
                <div class="content">
                  <span class="material-icons icon saida-icon">arrow_downward</span>
                  <strong>{{ saidaTotal | currency:'BRL' }}</strong>
                </div>
              </div>
            </div>

            <div class="resumo-item saldo">
              <p>Saldo</p>
              <div class="content">
                <span class="material-icons icon saldo-icon">account_balance_wallet</span>
                <strong>{{ saldoFinal | currency:'BRL' }}</strong>
              </div>
            </div>

            <div class="resumo-item default">
              <p>Saldo Acumulado</p>
              <div class="content">
                <span class="material-icons icon saldo-icon">account_balance_wallet</span>
                <strong>{{ saldoMesAtual | currency:'BRL' }}</strong>
              </div>
            </div>
          </div>
        </h3>

        <div class="filtro-mes-ano">
          <div class="data-content">
            <button (click)="anteriorMes()">
              <span class="material-icons">chevron_left</span>
            </button>

            <input type="month" [value]="mesAnoString()" (change)="onMesAnoChange($event)" />

            <button (click)="proximoMes()">
              <span class="material-icons">chevron_right</span>
            </button>

          </div>

          <div class="tabela-actions">
            <button class="btn-crear" (click)="abrirModalAdicionarRegistro()">
              <span class="material-icons">add</span> Novo Registro
            </button>
          </div>
        </div>

        <div class="tabela">
          <ng-container *ngIf="!carregando; else carregandoRegistros">
            <table *ngIf="registros?.length; else semRegistros">
              <thead>
                <tr>
                  <th>Descrição</th>
                  <th>Valor</th>
                  <th>Data</th>
                  <th>
                    <select id="tipo" [(ngModel)]="filtroTipo" (change)="filtrarRegistros()">
                      <option value="">Tipo</option>
                      <option value="Deposito">Depósito</option>
                      <option value="Saque">Saque</option>
                    </select>
                  </th>
                  <th>
                    <select id="categoria" [(ngModel)]="filtroCategoria" (change)="filtrarRegistros()">
                      <option value="">Categoria</option>
                      <option *ngFor="let c of categorias" [value]="c.nome">{{ c.nome }}</option>
                    </select>
                  </th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let f of registrosFiltrados">
                  <td>{{ f.descricao }}</td>
                  <td>{{ f.valor | currency:'BRL' }}</td>
                  <td>{{ f.data | date:'dd/MM/yyyy' }}</td>
                  <td>{{ f.tipo }}</td>
                  <td>{{ f.nomeCategoria }}</td>
                  <td class="btn-container">
                    <button class="btn-edit" (click)="abrirModalAtualizarRegistro(f)"><span
                        class="material-icons icon saida-icon">edit</span></button>
                    <button class="btn-delete" (click)="abrirModalRemoverRegistro(f)"><span
                        class="material-icons icon saida-icon">delete</span></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>
        </div>
        <ng-template #carregandoRegistros>
          <div class="sem-dados">
            <span class="material-icons">search_off</span>
            <p>Carregando valores...</p>
          </div>
        </ng-template>
        <ng-template #semRegistros>
          <div class="sem-dados">
            <span class="material-icons">search_off</span>
            <p>Ainda não há registros...</p>
          </div>
        </ng-template>
      </div>

      <div class="graficos">
        <div class="grafico-categoria">
          <div class="saldo-box">
            <span class="material-icons money-icon">monetization_on</span>
            <div class="content-container">
              <h2>Saldo Atual</h2>
              <p>{{ cliente.saldo | currency:'BRL' }}</p>
            </div>
          </div>

          <app-grafico-categorias [dadosGraficoCategoria]="dadosGraficoCategoria" [size]="200">
          </app-grafico-categorias>
        </div>
        <div class="grafico-saldos">
          <app-grafico-saldo-mensal [dadosGraficoSaldo]="dadosGraficoSaldosMensais">
          </app-grafico-saldo-mensal>
        </div>
      </div>
    </div>
  </div>
</div>

<!--? REGISTRO -->
<app-modal [titulo]="'Adicionar Registro'" [mostrar]="mostrarModalAdicionarRegistro"
  (fechar)="mostrarModalAdicionarRegistro = false" (confirmar)="confirmarAdicionarRegistro()">
  <form (ngSubmit)="confirmarAdicionarRegistro()" #formAdicionarRegistro="ngForm">

    <label>
      Descrição:
      <input type="text" [(ngModel)]="formRegistro.descricao" name="descricao" required />
    </label>

    <label>
      Valor:
      <input type="number" step="0.01" [(ngModel)]="formRegistro.valor" name="valor" required />
    </label>

    <label>
      Data:
      <input type="date" [(ngModel)]="formRegistro.data" name="data" required />
    </label>

    <label>
      Tipo:
      <select [(ngModel)]="formRegistro.tipo" name="tipo" required>
        <option value="Deposito">Depósito</option>
        <option value="Saque">Saque</option>
      </select>
    </label>

    <label>
      Repetição:
      <select [(ngModel)]="formRegistro.repeticao" name="repeticao" required
        [disabled]="formRegistro.parcela > 0 || formRegistro.juros > 0">
        <option value="NONE">Nenhuma</option>
        <option value="DAY">Diária</option>
        <option value="WEEK">Semanal</option>
        <option value="MONTH">Mensal</option>
        <option value="YEAR">Anual</option>
      </select>
    </label>

    <label>
      Parcela:
      <input type="number" [(ngModel)]="formRegistro.parcela" name="parcela"
        [disabled]="formRegistro.repeticao != 'NONE'" />
    </label>

    <label>
      Juros:
      <input type="number" [(ngModel)]="formRegistro.juros" name="juros"
        [disabled]="formRegistro.repeticao != 'NONE'" />
    </label>

    <label>
      Categoria:
      <select [(ngModel)]="formRegistro.fkCategoria" name="fkCategoria">
        <option [ngValue]="null">Sem categoria</option>
        <option *ngFor="let categoria of categorias" [ngValue]="categoria.idCategoria">
          {{ categoria.nome }}
        </option>
      </select>
    </label>

  </form>
</app-modal>

<app-modal [titulo]="'Atualizar Registro'" [mostrar]="mostrarModalAtualizarRegistro"
  (fechar)="mostrarModalAtualizarRegistro = false" (confirmar)="confirmarAtualizarRegistro()">
  <form (ngSubmit)="confirmarAtualizarRegistro()" #formAtualizarRegistro="ngForm">

    <label>
      Descrição:
      <input type="text" [(ngModel)]="formRegistro.descricao" name="descricao" required />
    </label>

    <label>
      Valor:
      <input type="number" step="0.01" [(ngModel)]="formRegistro.valor" name="valor" required />
    </label>

    <label>
      Data:
      <input type="date" [(ngModel)]="formRegistro.data" name="data" required />
    </label>

    <label>
      Tipo:
      <select [(ngModel)]="formRegistro.tipo" name="tipo" required>
        <option value="Deposito">Depósito</option>
        <option value="Saque">Saque</option>
      </select>
    </label>

    <label>
      Repetição:
      <select [(ngModel)]="formRegistro.repeticao" name="repeticao" required
        [disabled]="formRegistro.parcela > 0 || formRegistro.juros > 0">
        <option value="NONE">Nenhuma</option>
        <option value="DAY">Diária</option>
        <option value="WEEK">Semanal</option>
        <option value="MONTH">Mensal</option>
        <option value="YEAR">Anual</option>
      </select>
    </label>

    <label>
      Parcela:
      <input type="number" [(ngModel)]="formRegistro.parcela" name="parcela"
        [disabled]="formRegistro.repeticao != 'NONE'" />
    </label>

    <label>
      Juros:
      <input type="number" [(ngModel)]="formRegistro.juros" name="juros"
        [disabled]="formRegistro.repeticao != 'NONE'" />
    </label>

    <label>
      Categoria:
      <select [(ngModel)]="formRegistro.fkCategoria" name="fkCategoria">
        <option [ngValue]="null">Sem categoria</option>
        <option *ngFor="let categoria of categorias" [ngValue]="categoria.idCategoria">
          {{ categoria.nome }}
        </option>
      </select>
    </label>

  </form>
</app-modal>

<app-modal [titulo]="'Remover Registro?'" [mostrar]="mostrarModalRemoverRegistro"
  (fechar)="mostrarModalRemoverRegistro = false" (confirmar)="confirmarRemoverRegistro()">
  <p>Você tem certeza que deseja remover o registro de <strong>{{ registro?.descricao }}</strong>?</p>
</app-modal>

<app-modal [titulo]="modalTitulo" [mostrar]="mostrarModalAvisar" [autoCloseTime]="autoClose"
  (fechar)="mostrarModalAvisar = false">
  <p>{{ modalMensagem }}</p>
</app-modal>